In [2]:
for i in range(2):
    print (i, end = " ")

0 1

In [4]:
for j in range(5):
    print (j, end = " ")

0 1 2 3 4

In [6]:
for i in range(2):
    for j in range(5):
        print (j)

0
1
2
3
4
0
1
2
3
4

In [7]:
for i in range(2):
    for j in range(5):
        print ([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [8]:
products = ['Product A', 'Product B']
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [17]:
for i in products:
    for j in exp_sales:
        print ([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

## Triple Nested For Loop

In [18]:
products = ['Product A', 'Product B']
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [19]:
time_horizon = [1, 3, 12]

In [21]:
for prod in products:
    for sales in exp_sales:
        for t_hor in time_horizon:
            print ([prod, sales * t_hor])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [22]:
for prod in products:
    for sales in exp_sales:
        for t_hor in time_horizon:
            print ("Expected saled from the period of {0} months(s) for {1}: ${total_sales}" .format(t_hor, prod, total_sales = sales * t_hor))

Expected saled from the period of 1 months(s) for Product A: $10000
Expected saled from the period of 3 months(s) for Product A: $30000
Expected saled from the period of 12 months(s) for Product A: $120000
Expected saled from the period of 1 months(s) for Product A: $11000
Expected saled from the period of 3 months(s) for Product A: $33000
Expected saled from the period of 12 months(s) for Product A: $132000
Expected saled from the period of 1 months(s) for Product A: $12000
Expected saled from the period of 3 months(s) for Product A: $36000
Expected saled from the period of 12 months(s) for Product A: $144000
Expected saled from the period of 1 months(s) for Product A: $13000
Expected saled from the period of 3 months(s) for Product A: $39000
Expected saled from the period of 12 months(s) for Product A: $156000
Expected saled from the period of 1 months(s) for Product A: $14000
Expected saled from the period of 3 months(s) for Product A: $42000
Expected saled from the period of 12 months(s) for Product A: $168000
Expected saled from the period of 1 months(s) for Product B: $10000
Expected saled from the period of 3 months(s) for Product B: $30000
Expected saled from the period of 12 months(s) for Product B: $120000
Expected saled from the period of 1 months(s) for Product B: $11000
Expected saled from the period of 3 months(s) for Product B: $33000
Expected saled from the period of 12 months(s) for Product B: $132000
Expected saled from the period of 1 months(s) for Product B: $12000
Expected saled from the period of 3 months(s) for Product B: $36000
Expected saled from the period of 12 months(s) for Product B: $144000
Expected saled from the period of 1 months(s) for Product B: $13000
Expected saled from the period of 3 months(s) for Product B: $39000
Expected saled from the period of 12 months(s) for Product B: $156000
Expected saled from the period of 1 months(s) for Product B: $14000
Expected saled from the period of 3 months(s) for Product B: $42000
Expected saled from the period of 12 months(s) for Product B: $168000

In [24]:
for i in range(10):
    if i %2  == 0:
        print (i)

0
2
4
6
8

## List Comprehension

In [25]:
numbers = [1, 3, 5, 7, 9]

In [26]:
new_numbers = []
for num in numbers:
    new_numbers.append(num * 2)
print(new_numbers)

[2, 6, 10, 14, 18]

In [27]:
# EZ WAY
new_numbers = [num * 2 for num in numbers]
print(new_numbers)

[2, 6, 10, 14, 18]

In [30]:
for i in range (2):
    for j in range (5):
        print(i + j, end = " ")

0 1 2 3 4 1 2 3 4 5

In [36]:
# EZ WAY
new_range = [i + j for i in range(2) for j in range(5)]
print(new_range)

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [37]:
new_range = [[i + j for i in range(2)] for j in range(5)]
print(new_range)

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [40]:
example = [num ** 3 for num in range(1,11) if num % 2 != 0]
print(example)

[1, 27, 125, 343, 729]

In [62]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]
sales_revenue = filter(None,[print(chair_type, price * quantity) for chair_type in products_on_sale for price in sale_prices for quantity in quantities])

Chair_Type_1 100000
Chair_Type_1 150000
Chair_Type_1 130000
Chair_Type_1 120000
Chair_Type_1 180000
Chair_Type_1 156000
Chair_Type_1 135000
Chair_Type_1 202500
Chair_Type_1 175500
Chair_Type_1 150000
Chair_Type_1 225000
Chair_Type_1 195000
Chair_Type_2 100000
Chair_Type_2 150000
Chair_Type_2 130000
Chair_Type_2 120000
Chair_Type_2 180000
Chair_Type_2 156000
Chair_Type_2 135000
Chair_Type_2 202500
Chair_Type_2 175500
Chair_Type_2 150000
Chair_Type_2 225000
Chair_Type_2 195000
Chair_Type_3 100000
Chair_Type_3 150000
Chair_Type_3 130000
Chair_Type_3 120000
Chair_Type_3 180000
Chair_Type_3 156000
Chair_Type_3 135000
Chair_Type_3 202500
Chair_Type_3 175500
Chair_Type_3 150000
Chair_Type_3 225000
Chair_Type_3 195000
Chair_Type_4 100000
Chair_Type_4 150000
Chair_Type_4 130000
Chair_Type_4 120000
Chair_Type_4 180000
Chair_Type_4 156000
Chair_Type_4 135000
Chair_Type_4 202500
Chair_Type_4 175500
Chair_Type_4 150000
Chair_Type_4 225000
Chair_Type_4 195000

In [ ]:
print([num * 10 for num in list(range(1, 11)) if num % 2 == 0])

[20, 40, 60, 80, 100]

In [69]:
numbers = []
for num in range(1, 11):
    if num % 2 == 0:
        numbers.append(num*10)
print(numbers)

[20, 40, 60, 80, 100]

In [71]:
print([num * 10 if num % 2 == 0 else "None" for num in list(range(1, 11))])

['None', 20, 'None', 40, 'None', 60, 'None', 80, 'None', 100]