In [1]:
import pandas as pd

In [3]:
series_a = pd.Series([10, 20, 30, 40, 50])
price_per_category = pd.Series({
    'Product A' : 22250,
    'Product B' : 16600,
    'Product C' : 12500
})

In [10]:
# Zero based Indexing
print(series_a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
print(series_a[0])

10

In [11]:
series_b = pd.Series([10, 20, 30, 40, 50], index = [1, 2, 3, 4, 5])
print(series_b)

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [15]:
print(series_b[1])

10

In [21]:
series_c = pd.Series([10, 20, 30, 40, 50], index = ['1', '2', '3', '4', '5'])

In [22]:
print(series_c[1])

20

C:\Users\CvSU\AppData\Local\Temp\ipykernel_4912\147130775.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_c[1])

In [23]:
print(series_c['1'])

10

In [24]:
print(series_c[0])

10

C:\Users\CvSU\AppData\Local\Temp\ipykernel_4912\2434070589.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_c[0])

In [25]:
print(price_per_category)

Product A    22250
Product B    16600
Product C    12500
dtype: int64

In [29]:
employees_work_exp = pd.Series({'Martin':8, 'George':5})

print(type(employees_work_exp.index[0]))

<class 'str'>

In [35]:
import numpy as np

series_age = pd.Series(np.array([44, 54, 65, 35]))
print(series_age.index)

RangeIndex(start=0, stop=4, step=1)

In [36]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500
})

### Mathematical Methods

.sum() - sum all of the numbers in the variable

.min() - get the minimum value

.max() - get the maximum value 

.idxmin() - return the index value of minimum 

.idxmin() - return the index value of maximum

In [39]:
print(start_date_deposits.sum())

29500

In [40]:
print(start_date_deposits.min())

1000

In [41]:
print(start_date_deposits.max())

4000

In [ ]:
# Returns the index value 
print(start_date_deposits.idxmax())

9/3/2015

In [43]:
# Returns the index value 
print(start_date_deposits.idxmin())

12/8/2012

### Non Mathematical Methods

In [44]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [ ]:
# First 5 Row Datas
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [ ]:
# Last 5 Row Datas
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

In [ ]:
# Specify the no. of heads you can generate using the argument
start_date_deposits.head(7)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
dtype: int64

In [54]:
# Same as .tail()
start_date_deposits.tail(4)

5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

## DATA FRAMES

In [ ]:
data = {
    'ProductName' : ['Product A', 'Product B', "Product C"],
    'ProductPrice' : [22250, 16600, 12500]
}
# Set the data dictionary into dataframe with indicated index value
# or you can set a varible for index values like i_value = ['A', 'B', 'C']
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [58]:
# Create dataframe using list of dictionaries
data = [{'ProductName':'Product A', 'ProductPrice':22250}, 
        {'ProductName':'Product B', 'ProductPrice':16600}, 
        {'ProductName':'Product C', 'ProductPrice':12500}]
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [ ]:
data = {
    'Name' : ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'],
    'Age' : [50, 53, 35, 43],
    'Working Experience (Yrs.)' : [5, 8, 3, 10]
}
df = pd.DataFrame(data)
print(df)

In [63]:
# Create DatFrame from a dictionary of pandas Series
ser_products = pd.Series (['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series ([22250, 16600, 12500])
data = {
    'ProductName' : ser_products,
    'ProductPrices': ser_prices
}
df = pd.DataFrame(data)
print(df)

  ProductName  ProductPrices
0   Product A          22250
1   Product B          16600
2   Product C          12500

In [65]:
# Create DatFrame from a dictionary of pandas Series with index value
ser_products = pd.Series (['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series ([22250, 16600, 12500], index = ['C', 'B', 'A'])
data = {
    'ProductName' : ser_products,
    'ProductPrices': ser_prices
}
df = pd.DataFrame(data)
print(df)

  ProductName  ProductPrices
A   Product A          12500
B   Product B          16600
C   Product C          22250

In [68]:
# Create DataFrame from a list of lists
data = [
    ['Product A', 22250], 
    ['Product B', 16600], 
    ['Product C', 12500]
]
df = pd.DataFrame(data)
print(df)

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [71]:
# Set a column name for the DataFrame created from list of lists
df.columns = ['ProductName', 'ProductPrice']
# Set an index value for the DataFrame created from list of lists
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [ ]:
# Create DataFrame in a standard (Professional) Way
df = pd.DataFrame(
    data = [
        ['Product A', 22250],
        ['Product B', 16600],
        ['Product C', 12500]
    ],
    columns = ['ProductName', 'ProductPrice'],
    index = ['A', 'B', 'C']
)
print(df)

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [76]:
df.shape

(3, 2)

In [12]:
data = [
    ['Amy White', 50, 5],
    ['Jack Stewart', 53, 8],
    ['Richard Lauderdale', 35, 3],
    ['Sara Johnson', 43, 10]
]
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Working Experience (Yrs.)'])
print(df)

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3        Sara Johnson   43                         10