In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
employees = np.array(["Steve", "Galio", "Baccarat"])
print(employees)
type(employees)

['Steve' 'Galio' 'Baccarat']

numpy.ndarray

In [7]:
series_employees = pd.Series(employees)
print(series_employees)
type(series_employees)

0       Steve
1       Galio
2    Baccarat
dtype: object

pandas.core.series.Series

In [8]:
employee_names = pd.Series(["Amy White", "Jack Stewart", "Richard Lauderdale", "Sara Johnson"])
print(employee_names)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [9]:
employees = np.array(["Amy White", "Jack Stewart", "Richard Lauderdale", "Sara Johnson"])
employee_names = pd.Series(employees)
print(employee_names)

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

In [14]:
print(employee_names.size)

4

In [17]:
employee_names.name = "List of Employees"
print(employee_names.name)

List of Employees

In [21]:
work_experience_years = pd.Series([5,8,3,10])

print(type(work_experience_years.to_numpy()))

print(work_experience_years)

<class 'numpy.ndarray'>
0     5
1     8
2     3
3    10
dtype: int64

In [23]:
prices_per_catergory = {
    'Prod A' : 55000,
    'Prod B' : 65000,
    'Prod C' : 80000,
    'Prod D' : 90000
}
prices_per_catergory

{'Prod A': 55000, 'Prod B': 65000, 'Prod C': 80000, 'Prod D': 90000}

In [24]:
prices_per_catergory = pd.Series(prices_per_catergory)
prices_per_catergory

Prod A    55000
Prod B    65000
Prod C    80000
Prod D    90000
dtype: int64

In [25]:
prices_per_catergory.index

Index(['Prod A', 'Prod B', 'Prod C', 'Prod D'], dtype='object')

In [26]:
type(prices_per_catergory.index)

pandas.core.indexes.base.Index

### LABEL BASED VS POSITION BASED

In [28]:
series_A = pd.Series([10, 20, 30, 40, 50])
series_A

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [29]:
series_A.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
employees_work_exp = pd.Series ({
    "Martin" : 8,
    "George" : 5
})
print(employees_work_exp)

Martin    8
George    5
dtype: int64

In [33]:
print(employees_work_exp.index)

Index(['Martin', 'George'], dtype='object')