In [1]:
import numpy as np

In [4]:
lending_co_data = np.loadtxt('Lending-company-Numeric.csv', delimiter=',')
lending_co_data

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [7]:
np.isnan(lending_co_data).sum()

np.int64(0)

In [19]:
lending_co_data_nan = np.genfromtxt('Lending-company-Numeric-NAN.csv', 
                                    delimiter=';',
                                    filling_values=0)
lending_co_data_nan

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [    0.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [17]:
np.isnan(lending_co_data_nan).sum()

np.int64(0)

In [20]:
temporary_fill = np.nanmax(lending_co_data_nan).round(2) + 1

In [22]:
lending_co_data_nan = np.genfromtxt('Lending-company-Numeric-NAN.csv', 
                                    delimiter=';',
                                    filling_values=temporary_fill)

In [23]:
np.isnan(lending_co_data_nan)

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [24]:
np.isnan(lending_co_data_nan).sum()

np.int64(0)

## SUBSTITUTE MISSING VALUES

In [42]:
lending_co_data_nan = np.genfromtxt('Lending-company-Numeric-NAN.csv', 
                                    delimiter=';',)
lending_co_data_nan

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [   nan,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [43]:
temporary_mean = np.nanmean(lending_co_data_nan, axis = 0).round(2)
temporary_mean

array([ 2250.25,    46.11,   365.  ,  3895.99,  5160.75, 16571.44])

In [44]:
temporary_mean[0]

np.float64(2250.25)

In [45]:
temporary_fill = np.nanmax(lending_co_data_nan).round(2) + 1

lending_co_data_nan = np.genfromtxt('Lending-company-Numeric-NAN.csv',
                                    delimiter=';',
                                    filling_values=temporary_fill)

In [46]:
temporary_fill

np.float64(64002.0)

In [47]:
np.mean(lending_co_data_nan[:,0]).round(2)

np.float64(4263.25)

In [48]:
temporary_mean[0]

np.float64(2250.25)

In [49]:
lending_co_data_nan[:,0] = np.where(lending_co_data_nan[:,0] == temporary_fill,
                                    temporary_mean[0],
                                    lending_co_data_nan[:,0])

In [50]:
np.mean(lending_co_data_nan[:,0]).round(2)

np.float64(2250.25)

In [51]:
# Set the missing values to the mean of column
for i in range(lending_co_data_nan.shape[1]):
    lending_co_data_nan[:,i] = np.where(lending_co_data_nan[:,i] == temporary_fill,
                                    temporary_mean[i],
                                    lending_co_data_nan[:,i])

In [52]:
# Set the negative values to 0
for i in range(lending_co_data_nan.shape[1]):
    lending_co_data_nan[:,i] = np.where(lending_co_data_nan[:,i] < 0,
                                    0,
                                    lending_co_data_nan[:,i])

In [53]:
lending_co_data_nan

array([[ 2000.  ,    40.  ,   365.  ,  3121.  ,  4241.  , 13621.  ],
       [ 2000.  ,    40.  ,   365.  ,  3061.  ,  4171.  , 15041.  ],
       [ 1000.  ,    40.  ,   365.  ,  2160.  ,  3280.  , 15340.  ],
       ...,
       [ 2250.25,    40.  ,   365.  ,  4201.  ,  5001.  , 16600.  ],
       [ 1000.  ,    40.  ,   365.  ,  2080.  ,  3320.  , 15600.  ],
       [ 2000.  ,    40.  ,   365.  ,  4601.  ,  4601.  , 16600.  ]])

## RESHAPING NDARRAYS

In [54]:
lending_co_data_num = np.loadtxt('Lending-company-Numeric.csv', delimiter=',')

In [55]:
lending_co_data_num

array([[ 2000.,    40.,   365.,  3121.,  4241., 13621.],
       [ 2000.,    40.,   365.,  3061.,  4171., 15041.],
       [ 1000.,    40.,   365.,  2160.,  3280., 15340.],
       ...,
       [ 2000.,    40.,   365.,  4201.,  5001., 16600.],
       [ 1000.,    40.,   365.,  2080.,  3320., 15600.],
       [ 2000.,    40.,   365.,  4601.,  4601., 16600.]])

In [56]:
lending_co_data_num.shape

(1043, 6)

In [62]:
np.reshape(lending_co_data_num, (6, 1043))

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [61]:
np.transpose(lending_co_data_num)

array([[ 2000.,  2000.,  1000., ...,  2000.,  1000.,  2000.],
       [   40.,    40.,    40., ...,    40.,    40.,    40.],
       [  365.,   365.,   365., ...,   365.,   365.,   365.],
       [ 3121.,  3061.,  2160., ...,  4201.,  2080.,  4601.],
       [ 4241.,  4171.,  3280., ...,  5001.,  3320.,  4601.],
       [13621., 15041., 15340., ..., 16600., 15600., 16600.]])

In [64]:
np.reshape(lending_co_data_num, (3, 2086))

array([[ 2000.,    40.,   365., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  4601.,  4601., 16600.]])

In [65]:
np.reshape(lending_co_data_num, (2, 3, 1043))

array([[[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
        [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
        [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.]],

       [[ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
        [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
        [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]]])

In [66]:
lending_co_data_num_2 = np.reshape(lending_co_data_num,(6, 1043))
lending_co_data_num_2

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])

In [67]:
lending_co_data_num.reshape(6, 1043)

array([[ 2000.,    40.,   365., ...,   365.,  1581.,  3041.],
       [12277.,  2000.,    40., ...,    50.,   365.,  5350.],
       [ 6850., 15150.,  1000., ...,  2000.,    40.,   365.],
       [ 3101.,  4351., 16600., ..., 16600.,  2000.,    40.],
       [  365.,  3441.,  4661., ...,  8450., 22250.,  2000.],
       [   40.,   365.,  3701., ...,  4601.,  4601., 16600.]])