In [1]:
s = 'Price per unit'

In [2]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [ ]:
s1.startswith('Cost')

True

In [5]:
s1.endswith('nit')

True

In [15]:
# add a parameter to specify how many times it'll split
s1.split(' ', 1)

['Cost', 'per unit']

In [16]:
s2 = 'Mr., John, Wilson'

In [18]:
s2.split(', ')

['Mr.', 'John', 'Wilson']

In [20]:
s2.split(', ')[2]

'Wilson'

varible.upper() = uppercase   
varible.lower() = lowercase   
varible.title() = title case

In [21]:
name = "Mrs. Amy Moore"

In [22]:
name.upper()

'MRS. AMY MOORE'

In [23]:
name.lower()

'mrs. amy moore'

In [24]:
name.title()

'Mrs. Amy Moore'

In [25]:
name == name.title()

True

In [27]:
text = '   quarterly earnings report    '

In [29]:
text.strip()

'quarterly earnings report'

In [31]:
text.strip(' ')

'quarterly earnings report'

In [30]:
text.strip(' qt')

'uarterly earnings repor'

In [32]:
text.lstrip()

'quarterly earnings report    '

In [33]:
text.rstrip()

'   quarterly earnings report'

## STRING ACCESSORS

In [34]:
import pandas as pd

In [36]:
operational_kpis = pd.Series(['employee satisfaction rating', 'employee churn rate'])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [42]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

In [44]:
house_prices = pd.Series(['$400,000', '$500,000', '$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [46]:
house_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

In [ ]:
# split the arrays and remove the first names
import pandas as pd;
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_name = names.str.split().str[-1]
last_name

0       Peterson
1    Fitzpatrick
2           Cruz
dtype: object

In [75]:
import pandas as pd
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split().str[1]
type(last_names)

pandas.core.series.Series

In [77]:
import pandas as pd
names = pd.Series(["Martin Peterson", "John Fitzpatrick", "Kate Cruz"])
last_names = names.str.split().str[1]
print(last_names.str.contains('s'))

0     True
1    False
2    False
dtype: bool

## .format()

In [78]:
time_horizon = 1, 3, 12
products = ['Prod A', 'Prod B']

In [ ]:
'Expected sales for a period of {} month(s) for {}:' . format(time_horizon[0], products[1])

'Expected sales for a period of 1 month(s) for Prod B: $10000'

In [92]:
'Expected sales for a period of {t_hor} month(s) for {prod}: ${sales}' . format(t_hor = 12, prod = 'Product B', sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000'

In [93]:
print("{com} expects their next year's sales of Q{year} to {type}." .format(com = 'Company A', year = 3, type = 'increase'))

Company A expects their next year's sales of Q3 to increase.

In [94]:
companies = ['Company A', 'Company B']
quarter = [1, 2, 3, 4]
sales_performance_prediction = ['increase', 'decrease', 'remain the same']

print("{} expects their next year's sales of Q{} to {}." .format(companies[0], quarter[2], sales_performance_prediction[0]))

Company A expects their next year's sales of Q3 to increase.